src/main/mule/abcd1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5a73b6b7-a6c6-49c1-9b4f-ecc87e677665" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="abcd1Flow" doc:id="106fce3b-f622-49f8-8d58-3b9513a84768" >
		<http:listener doc:name="Listener" doc:id="9e93aff6-9cf5-416c-ad1d-70f9401fd7d1" config-ref="HTTP_Listener_config" path="/abcd1"/>
		<set-payload value='#["rambabu kanakadurga"]' doc:name="Set Payload" doc:id="901575d3-eb77-4b59-8421-88e4fe61d1c7" />
		<logger level="INFO" doc:name="Logger" doc:id="5a65222e-33ce-4156-9cfc-4ed1357bd183" message="#[payload]"/>
	</flow>
</mule>
